.search_wrapper{
    padding: 0rem 2rem;
    width: 100%;
}
.search_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    color: var(--grey);
    width: 80%;
    margin: 0 0 1rem 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }
  
  .search_div input {
    background-color: transparent;
    width: 100%;
    font-family: "Inter";
    font-size: 1.2rem;
    color: var(--grey);
    border: none;
  }
  
  .search_div  input:focus {
    outline: none;
  }

  .light-bg-search{
    background-color: var(--fadded-grey) !important;
  }
  .dark-bg-search{
    background-color: var(--darkgrey) !important;
  }

  
  @media (max-width: 425px){
    .search_div{
        width: 100%;
    }
  }