.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.list-row:hover {
  background-color: var(--darkgrey);
  transition: all 0.3s;
}

.list-row td {
  text-align: left;
  width: 18%;
}

.td-image {
  width: 3rem !important;
  margin-right: 2rem;
}

.td-center-align {
  text-align: center;
}

.td-right-align {
  text-align: right;
}

.mobile-td-mkt {
  display: none;
}
.totalVol{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmark_icon{
  background-color: transparent;
  border: none;
}

.save_icon{
  cursor: pointer;
  color: gold;
}
.save_icon:hover{
  transform: scale(1.3);
  stroke: gold;
  stroke-width: 1px;
  transition: all 0.3s linear;
}

.bookmark-td{
  display: flex;
  align-items: center;
  justify-content: center;
}
.coin-logo{
  width: 3.5rem;
  height: 3.5rem;
}

@media only screen and (max-width: 1100px) {
    .coin-logo{
        width: 3rem;
        height: auto;
    }
    .td-text {
        font-size: 80%;
    }
  .td-icon {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
   
  .desktop-td-mkt {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
    .td-text {
        font-size: 65%;
    }
    .td-total-volume {
    display: none;
  }
  .desktop-td-mkt {
    display: none;
  }

  .mobile-td-mkt {
    display: block;
  }
}
@media (max-width: 425px){
    .list-row{
        padding: 0;
        gap: 0.5rem;
        margin: 10px 0 10px 0;
    }
    
    .td-image{
        margin-right: 1rem !important;
    }
    .price-chip-list{
        padding: 5px;
        width: 54px;
    }
}
@media (max-width: 375px){
  .coin-logo{
    width: 1.8rem;
  }
    .coin-name{
        display: none;
    }
    .list-row{
        padding: 0;
        gap: 0.5rem;
        margin: 10px 0 10px 0;
    }
    
    .td-image{
        margin-right: 0.1rem !important;
    }
}

@media (max-width: 320px){
  .price-chip{
    min-width: 40px;
  }
  .price-chip-list{
    width: unset;
    padding: 3px;
  }
}