
.grid-container {
    width: 300px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
    position: relative;
  }
  
  .grid-container:hover {
    border-color: var(--green);
    transition: all 0.3s;
  }
  
  .grid-container-red:hover {
    border-color: var(--red) !important;
    transition: all 0.3s;
  }
  .bookmark-icon{
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 20px;
    z-index: 998;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    border-radius: 0.5rem;
    border: none;
  }

  /* .bookmark-icon:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--gold);
  } */

  .save-icon{
    color: var(--gold);
  }

  .save-icon:hover{
    transform: scale(1.3);
    stroke: gold;
    stroke-width: 1px;
    transition: all 0.3s linear;
  }
  
  .info-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
  }
  
  .coin-logo {
    height: 3.5rem;
    width: 3.5rem;
  }
  
  .name-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .coin-symbol {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }
  .coin-name {
    color: var(--grey);
    text-transform: capitalize;
    font-weight: light;
    font-size: 1rem;
    margin: 0;
  }
  
  .chip-flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 1rem 1rem;
  }
  
  .price-chip {
    border: 2px solid var(--green);
    border-radius: 0.5rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    color: var(--green);
    font-size: 1.1rem;
    min-width: 64px;
  }
  
  .price-chip:hover,
  .icon-chip:hover {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
  }
  
  .icon-chip {
    border: 2px solid var(--green);
    border-radius: 50%;
    height: 2rem !important;
    width: 2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    font-size: 1.1rem;
  }
  
  .chip-red {
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
  }
  
  .chip-red:hover {
    background-color: var(--red) !important;
    color: var(--white) !important;
    transition: all 0.3s;
  }
  
  .info-container {
    margin: 1.5rem;
  }
  
  .coin-price {
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .total_volume {
    color: var(--grey);
    font-size: 1rem;
    font-weight: 500;
    margin: 5px 0 5px 0;
  }

  @media (max-width: 425px){
    .price-chip{
      padding: 5px;
    }
  }